<ion-header>
	<ion-toolbar color="primary">
		<ion-buttons slot="start" defaulthref="/tabs/episodes">
			<ion-back-button></ion-back-button>
		</ion-buttons>
		<ion-title>Character Details</ion-title>
	</ion-toolbar>
</ion-header>
<ion-content padding>

	<ion-card *ngIf="character">
		
		
			<ion-card-header color="primary"> {{ character.name }}</ion-card-header>
			<ion-item class="movie-info" lines="none">
				<ion-icon name="flash" slot="start"></ion-icon>
				Nickname: {{ character.occupation }}
			</ion-item>			
			<ion-item class="movie-info" lines="none">
				<ion-icon name="calendar" slot="start"></ion-icon>
				Nickname: {{ character.nickname }}
			</ion-item>
            <p align="center"><img [src]="character.img" width="180" height="180" class="info-img"></p>
			<ion-item class="movie-info" lines="none">
				<ion-icon name="people-outline" slot="start"></ion-icon>
				Status: {{ character.status }}
			</ion-item>
            
			<ion-item class="movie-info" lines="none">
				<ion-icon name="document" slot="start"></ion-icon>
				Season: {{ character.appearance}}
			</ion-item>

		
	</ion-card>
</ion-content>