<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaulthref="/tabs/characters"></ion-back-button>
    </ion-buttons>
    <ion-title>Character Details</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

<ion-card *ngIf="character" class="movie-card">
    <ion-card-header color="primary">Character {{ character.name }}: {{ character.status }}</ion-card-header>
    <ion-card-content>
     Season: {{ character.category }}

    </ion-card-content>
    <ion-item class="movie-info" lines="none">
          <ion-icon name="people" slot="start"></ion-icon>
      Characters: {{ character.name }}
    </ion-item>
    <ion-item class="movie-info" lines="none">
      <ion-icon name="calendar" slot="start"></ion-icon>
      Photo: {{ character.photo }}
    </ion-item>
        <ion-item class="movie-info" lines="none">
      <ion-icon name="tv" slot="start"></ion-icon>
      Belongs to: {{ caracter.category }} | Serie
    </ion-item>
    

  </ion-card>
  
</ion-content>

</ion-content>
