<ion-header>

  <ion-toolbar color="primary">
    <ion-buttons slot="start">

      <ion-back-button defaulthref="/tabs/episodes"></ion-back-button>

    </ion-buttons>

    <ion-title>Episode Details</ion-title>
  </ion-toolbar>

</ion-header>


<ion-content padding>

	<ion-card>
		<ion-card-header>Episode {{ episode.season }}: {{ episode.title }}</ion-card-header>
		<ion-card-content>

			<ion-item class="movie-info" lines="none">
				<ion-icon name="people" slot="start"></ion-icon>
				Characters: {{ episode.characters }}
			</ion-item>

			<ion-item class="movie-info" lines="none">
				<ion-icon name="calendar" slot="start"></ion-icon>
				Release Date: {{ episode.air_date | date }}
			</ion-item>
	</ion-card>

    



<!--	<ion-card>
		<ion-card-header>Episode {{ episode.season }}: {{ episode.title }}</ion-card-header>
		<ion-card-content>

			<ion-item class="movie-info" lines="none">
				<ion-icon name="people" slot="start"></ion-icon>
				Characters: {{ episode.characters }}
			</ion-item>

			<ion-item class="movie-info" lines="none">
				<ion-icon name="calendar" slot="start"></ion-icon>
				Release Date: {{ episode.air_date | date }}
			</ion-item>
	</ion-card>

    -->
</ion-content>